/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(120deg, #f6d365, #fda085);
    margin: 5px;
}

.container {
    max-width: 20px;
    margin: 1px
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab {
    flex: 1 1 calc(50% - 5px); /* Two tabs per row with space between */
    margin: 5px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s, box-shadow 0.1s;
    overflow: hidden;
}

.tab a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.tab img {
    width: 20px;
    height: 30;
    max-height: 10px; /* Adjust based on desired image height */
    object-fit: cover;
    border-radius: 10px;
}

.tab span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.tab:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
